@media only screen and (min-width: 64rem) {
/***************** Header******************/
    h1 {
        
        font-size: 15rem;
    }
.hero-text {
    text-align: left;
    position: absolute;
    /* position: fixed; */
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
  }


 .social{
    right:10%;
 } 
.social img{
    height: 100%;
}

#contactinfo{
    display: flex;
    flex-direction: row;
}
#map{
    margin: 100px;
    justify-content: left;
}

#specials-container{
    display: flex;
    flex-direction: row;
    border: 5px solid #84dcc6;

    /* margin: 20px; */
    padding: 50px;
    text-align: center;
    border-radius: 15px;
}
.special{
    padding:2px;
}

#order :nth-child(3){ 
    display: block;
    
    } 
    .order-events{
      background-color: #FFA62B80 ;
      grid-column: 4/5;
      grid-row: 1/4;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      
    }
  
     
    #order {
      flex-direction: column;
      width:70%;
      justify-content: center;
      margin: 10px;
      padding-left: 10%;
     
    }
    #order img{
      width: 100%;
    }

}