@media only screen and (min-width: 35rem) {
    h1 {
        font-size: 10rem;
        justify-content: center;
    }
.hero-text {
    text-align: center;
    position: absolute;
    /* position: fixed; */
    top: 57%;
    left: 42%;
    
  }
.hero-image{
    height:80%;
}
  .social{
    right: 30%;
  }
  .social img{
    height: 85%;
    
}
/************Navigation***********/
.navigation {
  display: flex;
}
.navigation li {
  display: block;
  flex: 1 1 100%;
}
.navigation a {
  text-align: center;
}
#menu {
  display: none;
}

#orders {
  display: flex;
  flex-direction: row;
  flex:1 1 100%;
  justify-content: center;
  
}
.spotlight1 .spotlight2 {
  flex: 1 1 100%;
  width: 50%;
}

}

