/* @media only screen and (min-width: 48em) { */
@media only screen and (min-width: 64rem) {
/* @media only screen and (min-width: 1000px) { */
	nav a {
		font-size: 1.3rem;
	}

    .navigation {
        display: flex;
        
    }
    .navigation li:first-child{
        display: none;
    }

    .navigation li{
        display: block;
        flex: 1 1 100%;
    }

    
    .headings h1 {
        font-size: 3rem;
}



main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 5px;
  margin-bottom: 5px;
  column-gap: 5px;
  max-height: 3000px;
}

/* picture img{
  width: 100%;
  height: auto;
  object-fit: cover;
} */


/*********Hero image************/
.heroImgHolder {
  width: 100%;
  height: auto;
  justify-content: center;
  grid-column: 2/4;
  grid-row: 1/3;
}

.heroImg {
width: 100%;
height: auto;
}

.heroImg img{
  width: 100%;
  margin-top: 25px;
  
}




#news {
  width: 100%;
  grid-column: 2/4;
  grid-row: 3/4;
  margin: 5px -50px 0px -2px;
  
  
}

#event{
  width: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  margin: -30px -50px 0px -2px;
  
}



#spotlights :nth-child(3){ 
  display: block;
  
  } 
  .spotlight-events{
    background-color: #FFA62B80 ;
    grid-column: 4/5;
    grid-row: 1/4;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }

   
  #spotlights {
    flex-direction: column;
    width:70%;
    justify-content: center;
    margin: 10px;
    padding-left: 10%;
   
  }
p{ 
  display: block;
}
#join {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0px 10px 35px 0px;
}

.join{
  position: absolute;
  top: 300px;
	right: 500px;
}
#weather{
  width: 100%;
  grid-row: 3/4;
  grid-column: 1/2;
  margin: 5px -50px 0px -2px;
}

/* JOin************************** */

#join-main{
  display: block;

}
#join-table{
  width: 100%;
  grid-column: 2/3;
  margin-top: 50px;
  margin-right: auto;
  padding-right: 20px;
}
#wrapper{
  display: flex;
  
}
#form{
  padding-left: 70px;
}

tr:first-child th{
  font-size: 25px ;
}
th {
  font-size: 22px;
}
/* .rhead{
  font-size: 20px;
} */
th, td {
  padding: 7px 15px;
}
}