/* @media screen and (min-width: 32.5em) { */
/* @media screen and (min-width: 35rem) { */
@media only screen and (min-width: 35rem) {
    

    header {
        flex: 1 1 100%;
        justify-content: space-around;
        /* justify-content: space-between; */
    }
    header img{
        width: 150px;
        justify-content: left;
    }
   

    .headings h1 {
        font-size: 2rem;
    }
    .heroImg {
        position: fixed;
    }
main{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
#join{
    margin: 1em;
    color: black;
    background-color: #489FB5;
    padding: 1em;
    width: auto; 
  }
/* .spotlight-events{
    display: flex;
    flex-direction: row;
} */
  #spotlights {
    display: flex;
    flex-direction: row;
    flex:1 1 100%;
    justify-content: center;
    
  }
  .spotlight1 .spotlight2 {
    flex: 1 1 100%;
    width: 50%;
  }
    
     #news #weather {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    /*
    .boxes h2, h3{
        
        color: white;
        justify-items: center;
        align-items: center;

      }
   
        
        
    
      
    #spotlights {
        width: 50%;
        flex-direction: row;
        
    }
    #spotlight :nth-child(3) {
        display: flex;
    } */

    
    #join{
        width: 100%;
        display: block;
        
    }
    footer {
        display: grid;
        gap: 10px;
        
    }

    footer img {
        grid-column-start: 1;
        grid-row-start: 1;
        
    }
    #footer1{
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        justify-content: left;
    }

    #footer2{
        grid-row-start: 1;
        grid-column-start: 7;
        grid-column-end: 10;
        justify-content: left;
        
    }
    #footer3{
        grid-row-start: 5;
        grid-column:  1/ span 10;
    }
}