/* HTML Selectors */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  
  }

  .banner {
    background-color: #ffa62B;
  }

  .bannerContent {
    padding: 16px;
    margin:0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    

  }
  .bannerText {
    flex-grow: 1;
    line-height: 1.4;
    justify-items: center;
  }

  .bannerClose{
    background: none;
    border: none;
    cursor:pointer;
  }
  
  body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: 'Scope One', serif;
    background-color:#EDE7E3;
    border-color: #82C0CC;

  }


  


  footer {
    background-color: #16697A;
    color: white;
    padding: 10px;
    text-align: center;
  } 

  footer img {
    height: 75px;
    width: auto;
    border-radius: 15%;
  }

  a {
    text-decoration: none;
    color: white;
  }
  #footer3{
    border-top: 1px solid grey;
  }
  
  header {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color:#16697A;
    color: white;
    margin: auto;
    padding: 0;
    text-align: center;
    
  }

  header section {
    color: black;
    padding: 5px;
    margin: 5px;
    border: 1px;
    border-color: black;
  }

 
  
  h1, h2 {
    
    font-family: 'Sofia Sans', sans-serif;
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }

  

  h3 {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1rem;
  }
  
  .heroImg {
    opacity: .4;
  }
  picture img{
    width: 100%;
    object-fit: cover;
  }

  
  header img {
    margin:10px;
    width: 100%;
    height: auto;
    border-radius: 15px;
   
  }

  .headings{
    display: flex;
    flex-direction: column;
  }

  .headings h1 {
    font-size: 1.6rem;  
    font-family: 'Sofia Sans', sans-serif;
    color: white;
  }

 .headings div {
  padding: 10px;
 }
  

  .fa {
    display: flex;
    flex-direction: row;
    margin: 1px;
    padding: 10px;
    font-size: 30px;
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    color: white;
  }

  .fa-twitter {
    color: white;
  }

  /*screen rader for social media */
  .sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
 }


nav {
	display: block;
	flex-direction: column;
  font-family: 'Sofia Sans', sans-serif;
	background-color: #82C0CC;
}

.navigation{
  list-style-type: none;
  padding: 0;
  text-align: center;
}


.navigation li{
  display: none;
}

.navigation li:first-child{
  display: block;
}



.navigation a {
	display: block;
	color: black;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	font-size: 1.25rem;
}

#menu::before{
  content: "≡";
}

#menu::after{
  content: "X";
}

nav a:hover {
	background-color: #ffa62B;
	color: black;
}

 img{
    width: 200px;
    height: auto;
    justify-content: center;
}



main section {
 
  background-color: #EDE7E3;
  margin: 1em;
  padding: .5em;
  
}


.heroDiv{
  margin:0;
  padding: 0;
  border: none;
  max-height: 100%;
}

/*join now button */
.join {
  
  position: absolute;
	top: 250px;
	right: 50px;
	background: #ffa62b;
  /* background-color: #FFA62B80 */
  border:0;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.1);
	padding: 1.5rem;
  text-align: center;
  font-weight: 900;
  }

  .join a{
    color: black;
  }
section .join{
  color: black;
}
  #spotlights div {
    width: auto;
    max-width: 100%;
    background-color: #489FB5;
    padding: 1em;
    margin:1em;
    height: auto;
    
  }

  .picdiv{
    display: flex;
    position: relative;
    justify-content: center;
    margin:0;
    padding: 0;
  }


  #spotlights h2, h3{
    color: black;
    justify-items: center;
    align-items: center;
  }

  #news, #weather, #event {
    margin: 1em;
    color: black;
    background-color: #489FB5;
    padding: 1em;
    width: auto; 
    text-align: center;
  }
  



  #spotlights :nth-child(3){
    display: none;
  }
  
  #join {
    display: none;
    text-align: center;
  }
  


 .responsive li {
  display: block;
  
 }

 .responsive #menu::before {
	content: "X";
 }

 #date {
  color: white;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 1rem;
 }

 button{
  border:none;
  /* background-color: #ffa62B; */
  background-color: #FFA62B80;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 900;
  cursor: pointer;

  
 }
 .button:hover {
  background-color:#002ead;
  transition: 0.7s;
}
.bannerClose:hover{
  transform: scale(1.1);
}

 /********************discover page ****************************/

 #discover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2/4;
  
 }
 #h2discover{
  justify-content: center;
  text-align: center;
  /* grid-column: 2/4;
  padding: 10px; */
  
}

 #discover img:hover {
    opacity: 0.5;
  }

  .discoverpic{
    max-width: 600px;
  }
/* *******************Join Page****************** */
#join-main h2{
  text-align: center;
  display: grid;
  grid-column: 1/3;
}
form fieldset{
  margin: 2rem 0;
  border: 1px solid grey;
  padding: .5rem 2% .5rem;
  width: 300px;
  background-color:#FFA62B20;
  margin-left: auto;
  margin-right: auto;
}
form legend{
  color: black;
  margin: 0 1rem;
  padding:0 .5rem;
}
form label.applicant,form div{
  display: block;
  padding: 1rem ;
  color: black;
  font-size: 1rem;
}
form label.applicant input, form label.applicant select{
  display: block;
  font-size: 16px;
  border: solid 1px #999;
  padding: .75rem 0;
  color: black;
  width: 100%;
  max-width: 20rem;
  background-color: white ;
}
form label.mem-option{
  display: block;
  padding: .75rem 0;
  color:black ;
}

input{
  padding: 5px;
}

form input.submitBtn{
  border: none;
  background-color: #16697A;
  color: white;
  
  padding: .75rem 1.5rem;
  width: 96%;
  max-width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


#moreInfo #details{
  padding-right: 15px;
  margin-right: 15px;
}
#join-form{
  padding-bottom: 20px;
  padding-top: 20px;
}

#join-table{
  box-sizing: border-box;
}
table{
  border: 2px grey solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.tabletitle{
  background-color:#16697A;
  color: white;
  padding: 20px;
}
caption {
  display: none;
}
thead :first-child{
  background-color: #16697A;
  color: white;
  font-size: larger;
}

thead:nth-child(2){
  background-color:#82C0CC;
}

th{
  font-size: smaller;
}
th{
  background-color: #82C0CC;
}
legend{
  font-size: larger;
  font-weight: 900;
}
label{
  font-size: larger;
  font-weight: 700;
}
/* zebra verigation*/
tbody tr:nth-child(even){
  background-color: white;
}
tbody tr:nth-child(odd){
  background-color: #FFA62B20;
}

td{
  text-align: center;
  border: solid 1px grey;
  font-size: smaller;
  font-weight: 900;
}

tbody:first-child {
  border: solid 1px grey;
  background-color: #82C0CC;
}

/* **********************directory page******************** */
#directory{
  max-height: 4000px;
}

#directory a{
  color: black;

}
.menu{
  text-align: center;
  justify-content: center;
}
.cards section{
  
  color: black;
  border: 1px solid grey;
  padding: 100px;
  background-color:#82C0CC;
  justify-content: center;
  
  width: 100%;
  
}
.cards section h3 {
  text-align:center;
  font-size: larger;
}

/* main #directory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;
} */
p {
  font-weight: 900;
}
section img {
  display: flex;
  justify-content: center;
  width: 100%;
}
.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}


.list section img {
	display: none; 
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color:#ffa62B20;
  color: black;
}
/* *************weather api************ */
#weather-icon{
  width: 20%;
}
.businesses a{
  color: black;
  
}
/* **************contact us*************** */
#contactinfo{
  border: 1px solid grey;
  background-color:#FFA62B80;
  margin: 200px;
  padding: 50px;
  text-align: center;
  
  /* grid-column: 2/4; */
}