@media only screen and (min-width: 48em) {
	nav a {
		font-size: 1.3rem;
	}

    .navigation {
        display: flex;
        
    }
    .navigation li:first-child{
        display: none;
    }

    .navigation li{
        display: block;
        flex: 1 1 100%;
    }

    
    .headings h1 {
        font-size: 3rem;
}


main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 5px;
  margin-bottom: 5px;
  column-gap: 5px;
  /* max-height: 1000px; */
}

   .heroImg {
    /* width: 200px; */
    max-width: 100%;
    height: auto;
    width: auto;
    grid-column: 2/4;
    grid-row: 1/3;
    justify-content: center;

  }
.heroImgHolder {
  max-width: 100%;
  width: auto;
  height: auto;
  justify-content: center;
}


#news {
  width: 100%;
  grid-column: 2/4;
  grid-row: 3/4;
  margin: 5px -50px 0px -2px;
  
  
}

#event{
  width: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  margin: -30px -50px 0px -2px;
  
}



#spotlights :nth-child(3){ 
  display: block;
  
  } 
  .spotlight-events{
    background-color: #FFA62B80 ;
    grid-column: 4/5;
    grid-row: 1/4;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }

   
  #spotlights {
    flex-direction: column;
    width:70%;
    justify-content: center;
    margin: 10px;
    padding-left: 10%;
   
  }
p{ 
  display: block;
}
#join {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0px 10px 35px 0px;
}

.join{
  position: absolute;
  top: 300px;
	right: 500px;
}
#weather{
  width: 100%;
  grid-row: 3/4;
  grid-column: 1/2;
  margin: 5px -50px 0px -2px;
}


}
