

  /* HTML Selectors */

body {
  width: 950px;
  margin: auto;
  font-family: 'Nunito', sans-serif;
}


footer {
  background-color: rgb(72, 111, 163);
  color: white;
  padding: 10px;
  text-align: center;
  
}

header {
  
  background-color:rgb(72, 111, 163);
  color: white;
  margin: auto;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  
}

h1 {
  
  font-family:"Inter Tight", sans-serif;
  font-size: 1.5rem;
}

h2 {
  text-shadow: rgb(140, 148, 170) 1px 0 10px;
  border-bottom: 1px solid rgb(209, 205, 205);
  font-family: "FreeMono", monospace;
  font-size: 1rem;
}


 main ul li {
  
  font-size: 20px;
  margin: 10px;
} 


main ul li a:hover {
  background-color: #efefef;
  color: black;
  font-size: 18px;
}

header img {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  
}

